body {
  font-family: Arial,sans-serif;
   margin: 0;
  background-color: #f3f3f3;
}


header {
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px; display: flex; justify-content: space-between; 
  align-items: center;
 }
     
.container {
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f9;
 }

.login-form {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.login-form h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
.form-control {
  margin-bottom: 1rem;
}
.form-control label {
  display: block;
  margin-bottom: 0.5rem;
}
.form-control input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-control button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.form-control button:hover {
  background-color: #0056b3;
}


span#errors{
color:red;
font-size: 16px;
}

footer {
  background: #333;
  color: white; 
  text-align: center;
  padding: 10px; 
  margin-top: 20px;
 }

